<% show_vote_box ||= "yes" %>
<div class="row">
  <% if show_vote_box == "yes" %>
    <%= render "shared/vote_controls",
      {
        obj_var: var_comment,
        url_up_var: vote_post_comment_path(var_comment.post, var_comment, vote: true), 
        url_down_var: vote_post_comment_path(var_comment.post, var_comment, vote: false)
      } %>
  <% end %>

  <div class="well span8">
    <i class="icon-comment"></i>&nbsp;&nbsp;
    <em>"<%= var_comment.body %>"</em>
    <% if show_post_link %>
      on
      <%= link_to var_comment.post.title, post_path(var_comment.post.id) %>
    <% end %>
    <br/>
    <%= render "shared/poster_meta", {var_by: "by", var_obj: var_comment} %>
  </div>
</div>
