<!-- takes in three variables: -->
<!-- url_up_var which is the function/helper to generate the right URL  for up vote -->
<!-- url_down_var which is the function/helper to generate the right URL for down vote -->
<!-- and obj_var which is the object for which the voting is being performed -->
<div class="span2 well text-center">
  <% if current_user_get %>
    <%= link_to url_up_var, method: "post" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <br/>
  <% end %>
  <% vote_str = "vote".pluralize(total_vote_count(obj_var)) %>
  <small>
  <%= "#{total_vote_score(obj_var)} [from #{total_vote_count(obj_var)} #{vote_str}]" %>
  </small>
  <% if current_user_get %>
    <br/>
    <%= link_to url_down_var, method: "post" do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  <% end %>
</div>
