<% sorting_var ||= :implicit %>

<% if post_list %>
	<% if sorting_var == :implicit %>
		<% sorted_list = post_list.sort_by{|x| x.total_vote_score}.reverse %>
	<% else %>
		<% sorted_list = post_list %>
	<% end %>
	
	<div>
		<% sorted_list.each do |p| %>
			<%= render "posts/post_entry", {post_var: p} %>
		<% end %>
	</div>
<% end %>

<!-- If the params omit a "show all" query then create -->
<!-- a link to show all of the posts -->
<% if ((! (params[:show_all] == "true")) && @post_list_truncated) %>
	<div class="well span4">
		<h4>Only top <%= post_list.size %> posts by vote score shown</h4>
		<%= link_to(request.url + "?show_all=true", method: "get") do %>
			<p>Show all Posts</p>
		<% end %>
	</div>
<% end %>
